<h2>Total applications: <%= @applies.count %></h2>
  <ul>
  <% @applies.each do |application|%>
    <li>
      <%= link_to application.name, apply_path(apply_id:application.id) %>
    </li>
    <br>
  <% end %>
  </ul>