<h2> Hi, <%= current_user.name%></h2
<h2>Your job application for " <%=@applies.job.title %>" has been submitted successfully!</h2>
<div id='links'>
  <%= link_to  "Back", jobs_path,class:'btn btn-sm btn-default'%>
</div>