<div id="jobs">
  <% @jobs.each do |job| %>
    <div class="job">
      <h2>
        <%= link_to job.title, job %>
      </h2>
      <p>
        <%= job.user.name %>
      </p>
    </div>
  <% end %>
</div>