<h1>Available jobs</h1>
<ul>
<% @jobss.each do |job|%>
  <li>
    <%= link_to job.title, client_job_path(id:job.id,client_id: @client.id) %>
    <br>
    <%= job.description%>
  </li>
  <br>
<% end %>
</ul>
<% if user_signed_in? %>
  <%= link_to "Sign out", destroy_user_session_path %>
<% else %>
  <%= link_to "Sign In", new_user_session_path %>
<%end%>