<h1>Our happy Clients</h1>
<ul>
<% @clients.each do |client|%>
  <li>
    <%= link_to client.name, client %>
  </li>
<% end %>
</ul>
<%= link_to "New Client", new_client_path %>
<br>
<% if user_signed_in? %>
  <%= link_to "Sign out", destroy_user_session_path %>
<% else %>
  <%= link_to "Sign In", new_user_session_path %>
<%end%>