<!DOCTYPE html>
<html lang=”en”>
  <head>
    <meta charset=”UTF-8″>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Congrates</title>
  </head>
  <body>
    <h2>Congratulations <%=@user.name%>, your application for job profile "<%=@job.title%>" has been accepted successfully, Check your status.<br>You will soon get a call from the <%=@job.user.name%></h2>
  </body>
</html>