<!DOCTYPE html>
<html lang=”en”>
  <head>
    <meta charset=”UTF-8″>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Application recieved</title>
  </head>

  <body>
    <h2>Hello there,here is the new job application by applicant  <%=@user.profile.name%> for job profile '<%=@job.title%>'.<br>Please review it.</h2>
  </body>
</html>