<!DOCTYPE html>
<html lang=”en”>
  <head>
    <meta charset=”UTF-8″>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Application recieved</title>
  </head>

  <body>
    <h1>Hello there,Here is new Job application by applicant  <%=@user.profile.name%> for job '<%=@job.title%> Please review it.</h1>
  </body>
</html>