<!DOCTYPE html>
<html lang=”en”>
  <head>
    <meta charset=”UTF-8″>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Congrates</title>
  </head>
  <body>
    <h1>Hey <%=@user.name%> !, Your application for Job profile "<%=@job.title%>" has been rejected.</h1>
    <h1>Please, wait for 3 months, and then apply again.</h1>
  </body>
</html>